<div style="background-color: #5CB85C; text-align: center">
  <h1>conduit</h1>
  <h3>A place to share your knowledge.</h3>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset"></div>

  <div class="mdl-cell mdl-cell--6-col"> 
    <div class = "mdl-tabs mdl-js-tabs">
    <div class = "mdl-tabs__tab-bar">
       <a href = "#tab1-panel" class = "mdl-tabs__tab is-active">your feed</a>
       <a href = "#tab2-panel" class = "mdl-tabs__tab">global feed</a>
       <a href = "#tab3-panel" class = "mdl-tabs__tab">Tags</a>
    </div>
 
    <div class = "mdl-tabs__panel is-active" id = "tab1-panel">
       <p>Tab 1 Content</p>
    </div>
 
    <div class = "mdl-tabs__panel" id = "tab2-panel">
       <p>Tab 2 Content</p>
    </div>
 
    <div class = "mdl-tabs__panel" id = "tab3-panel">
       <p>Tab 3 Content</p>
    </div>
 </div>
</div>

  <div class="mdl-cell mdl-cell--2-col">Tags</div>

  <div class="mdl-cell mdl-cell--2-offset"></div>
</div>
